@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
/* ---- Colors ---- */
--Neutral: #ffffffff;
--Btn-main: #5BA3CC;
--Btn-hover: #4B93BD;
--Btn-clicked: #3A7EA6;
--Color-Contrast: #FF5C7C;
--Primary-bg: #E2E8F0;
--Secondary-bg: #F8FAFC;
--Borders: #EFF3F7;
--Footer-bg: #17567A;
--Pros-bg: #104462;
/* ---- Shadows ---- */
--Shadow-default: 0px 1px 4px #00000026;
--Shadow-hover: 0px 0px 4px 1.5px #00000026;
--Inner-Shadow-bar: inset 0px 16px 14px 0 #1E293B26;
/* ---- H1 ---- */
--H1-font-size: 80px;
--H1-color: #1E293B;
--H1-line-height: 87%;
--H1-letter-spacing: -5px;
--H1-weight: 700;
--H1-font-style: italic;
/* ---- H2 ---- */
--H2-font-size: 48px;
--H2-color: #1E293B;
--H2-line-height: 87%;
--H2-letter-spacing: -3px;
--H2-weight: 700;
--H2-font-style: italic;
/* ---- H3 ---- */
--H3-font-size: 24px;
--H3-color: #1E293B;
--H3-weight: 600;
/* ---- H4 ---- */
--H4-font-size: 16px;
--H4-color: #1E293B;
--H4-line-height: 105%;
--H4-weight: 600;
/* ---- Subtitle ---- */
--Subtitle-font-size: 20px;
--Subtitle-color: #475569;
--Subtitle-weight: 400;
/* ---- Body text ---- */
--P--color: #475569;
--P-font-size: 14px;
--P-weight: 400;
}

body {
    width: 1024px;
    background-color: var(--Primary-bg);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ---- Typography ---- */

h1 {
    font-size: var(--H1-font-size);
    font-weight: var(--H1-weight);
    font-style: var(--H1-font-style);
    line-height: var(--H1-line-height);
    letter-spacing: var(--H1-letter-spacing);
    color: var(--H1-color);
}

h2 {
    font-size: var(--H2-font-size);
    font-weight: var(--H2-weight);
    font-style: var(--H2-font-style);
    line-height: var(--H2-line-height);
    letter-spacing: var(--H2-letter-spacing);
    color: var(--H2-color);
}

h3 {
    font-size: var(--H3-font-size);
    font-weight: var(--H3-weight);
    color: var(--H3-color);
}

h4 {
    font-size: var(--H4-font-size);
    font-weight: var(--H4-weight);
    color: var(--H4-color);
    line-height: var(--H4-line-height);
}

.subtitle {
    font-size: var(--Subtitle-font-size);
    font-weight: var(--Subtitle-weight);
    color: var(--Subtitle-color);
}

p, a, select, button, ::placeholder {
    color: var(--P--color);
    font-size: var(--P-font-size);
    font-weight: var(--P-weight);
}

/* ---- Cta Btns ---- */

.btns_cta_container {
    display: flex;
    gap: 16px;
}

.btn_cta {
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: var(--Shadow-default);
}

.btns_cta_container #get_started {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--Btn-main);
    color: var(--Neutral)
}

.btns_cta_container #get_started > p {
    color: var(--Neutral)
}

.btns_cta_container #get_a_demo {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--Neutral);
    color: var(--Btn-main)
}

/* ---- Learn More Btns ---- */

.btn_learn_more {
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--Btn-main);
    box-shadow: var(--Shadow-default);
}

.btn_learn_more > p {
    color: var(--Neutral)
}

/* ---- Content Box ---- */

.content_box {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

/* ---- Text Box ---- */

.text_box, .text_area {
    text-align: center;
    width: 100%;
    height: 32px;
    padding: 8px;
    color: var(--P--color);
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.text_area {
    text-align: left;
}

input::placeholder {
    opacity: .5;
}

.text_box:hover, 
.text_area:hover {
    box-shadow: var(--Shadow-hover);
}

input:focus {
    outline: none;
    border: 1px solid var(--P--color);
}

textarea:focus {
    outline: none;
    border: 1px solid var(--P--color);
}

/* ---- Optional Button ---- */

#optional_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    background: var(--Neutral);
    border-radius: 2px;
    box-shadow: var(--Shadow-default);
    outline: none;
    cursor: pointer;
}

/* ---- Pax Tiers ---- */

#pax_tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tier-row {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* ---- Multiplication ---- */

#multiplication {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#multiaplication_result {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ---- Margin Text Box ---- */

#margin_text_box {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* ---- Comission Text Box ---- */

#comission_text_box {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* ---- Free Button ---- */

#free_button {
    display: flex;
    gap: 8px;
}

/* ---- Add New Element Button ---- */

.add_new_element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

.add_new_element:hover {
    background-color: var(--Btn-hover);
    color: var(--Neutral);
}

.add_new_element:active {
    background-color: var(--Btn-clicked);
    color: var(--Neutral);
}

.add_new_element:hover img {
    filter: brightness(0) invert(1)
}

/* ---- Final Offer Navigation Btns ---- */

.final_offer_navigation_btns {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

/* ---- Carousel ---- */

.carousel {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: var(--Neutral);
  color: var(--P--color);
  font-size: 22px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: var(--Shadow-default);
  transition: background 0.2s, transform 0.2s;
}

.carousel-btn:hover {
  background: var(--Borders);
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

/* ---- Form Bar ---- */

.bar {
    display: flex;
    align-items: center;
    padding: 12px 28px;
    max-width: 100%;
    background-color: var(--Btn-clicked);
    box-shadow: var(--Inner-Shadow-bar);
}

.bar p {
    display: flex;
    gap: 8px;
    color: var(--Neutral)
}

/* ---- Select Pax and Free ----*/

#select_pax_and_free {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    padding: 8px;
    border-radius: 8px;
}

#select_pax_and_free .pax_and_free, .include {
    display: flex;
    align-items: center;
    gap: 8px
}

#select_pax_and_free .pax_and_free {
    max-width: 168px;
}

/* ---- Elements ---- */

#header_logo {
    width: 288px;
    height: 80px;
}

.icon {
    width: 48px;
}

.list_icon {
    width: 24px;
}

li {
    list-style: none;
}

/* ---- Selector ---- */

.selector_dropdown select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("./images/chevron-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    padding: 4px 8px;
    height: 32px;
    box-shadow: var(--Shadow-default);
    background-color: var(--Neutral);
    border-radius: 8px;
    cursor: pointer;
}

.selector_dropdown select:hover {
    box-shadow: var(--Shadow-hover);
}

.selector_dropdown select:focus {
    outline: none;
    border: none;
}

/* ---- Trip Type Selector ---- */

.trip_type_selector select {
    width: 128px;
    max-width: 100%;
}

/* ---- Meal Plan Selector ---- */

.meal_plan_selector select {
    width: 100%;
    background-image: url("");
}

/* ---- Yes No Selector ---- */

.yes_no_selector select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-image: url("");
}

/* ---- Language Selector ----- */

.language_selector select {
    width: 128px;
    max-width: 100%;
}

/* ---- Currency Selector ----- */

.currency_selector select {
    width: 96px;
    max-width: 100%;
}

/* ---- Room Type Selector ---- */

.room_type_selector select {
    width: 132px;
}

/* ---- Hotel Rate Stars Selector ---- */

.hotel_rate_stars_selector select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("");
    width: 100%;
    text-align: center;
}

/* ---- Supplement Options Selector ---- */

.supplement_options_selector select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("");
    width: 100%;
    text-align: center;
}

/* ---- Header ---- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: var(--Secondary-bg);
    box-shadow: var(--Shadow-header);
}

#header .header_navbar_container {
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

#header .navbar_tools {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

#header .login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#header .login img {
    flex: 1;
}

#header .login > :nth-child(2) {
    flex: 2;
}

#header .login > :nth-child(2) p {
    white-space: nowrap;
}

#header .selector_dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
}

#header .selector_dropdown .homepage_language_selector select {
    width: 120px;
}

#header .navbar_links {
    display: flex;
    align-items: center;
}

#header .navbar_links_cta_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#header .navbar_links p {
    margin-inline: 8px;
}

.flag-pt, .flag-es, .flag-fr {
    display: none;
}

/* ---- Log In Sign Up ---- */

#log_in_sign_up_cta .btn_log_in {
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--Btn-main);
    box-shadow: var(--Shadow-default);
    cursor: pointer;
}

#log_in_sign_up_cta .btn_log_in > p {
    color: var(--Neutral)
}

#log_in_sign_up_cta .btn_log_in:hover {
    background-color: var(--Btn-hover);
}

#log_in_sign_up_cta .btn_log_in:focus {
    background-color: var(--Btn-clicked);
}

#log_in {
    display: flex;
    flex-direction: column;
}

#log_in .log_in_cta {
    height: 100vh;
    background-color: var(--Primary-bg);
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#log_in_sign_up_cta {
    display: flex;
    margin-top: 224px;
    width: 504px;
    flex-direction: column;
    gap: 32px;
}

#log_in_sign_up_cta .title_container {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#log_in_sign_up_cta .e-mail_password_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#log_in_sign_up_cta .title_container p {
    font-size: 24px;
}

#log_in_sign_up_cta .title_container .log_in_title p {
    color: var(--Btn-clicked);
    border-bottom: .5px solid var(--Btn-clicked);
}

#log_in_sign_up_cta .title_container .log_in_title p:hover {
    color: var(--Btn-hover);
    border-bottom: .5px solid var(--Btn-hover);
}

#log_in_sign_up_cta .title_container .sign_up_title p:hover {
    color: var(--Btn-hover);
    border-bottom: .5px solid var(--Btn-hover);
}

/* ---- HeroSection ---- */

#hero_section {
    display: flex;
    margin: 80px 32px;
}

#hero_section > img {
    width: 416px;
}

#hero_section .title > h1 {
    margin-bottom: 24px;
}

#hero_section .cta_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ---- Presentation Section ---- */

#presentation_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 120px 32px;
}

#presentation_section > img {
    max-width: 100%
}

#presentation_section > .cta_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
}

#presentation_section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation_section h2 {
    margin-bottom: 24px;
}

#presentation_section .subtitle {
    width: 700px;
}

/* ---- Solution Section ---- */

#solution_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 120px 32px;
}

#solution_section > .cta_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
}

#solution_section > .cta_container > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#solution_section h2 {
    margin-bottom: 24px;
}

#solution_section .subtitle {
    width: 900px;
}

/* ---- Solution Problem Cards ---- */

.solution_problem_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

/* ---- Solution Cards ---- */

.solution_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 8px;
    justify-content: center;
}

.solution_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
    padding: 24px;
    height: 200px;
}

.solution_card > img {
    width: 62px;
}

/* ---- Problem Cards ---- */

.problem_cards_container {
    gap: 8px;
}

.problem_cards_container > .problem_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--Neutral);
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    box-shadow: var(--Shadow-default);
}

.problem_cards_container > .problem_card > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.problem_cards_container ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.problem_cards_container ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.problem_cards_container > .problem_card > :last-child {
    justify-content: center;
}

#automate_problem_card, #deliver_problem_card, #scale_problem_card {
    display: none;
}

/* ---- Feature Section ---- */

#features_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 120px 32px;
}

#features_section > .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

/* ---- Resources Bar ----*/

.resources_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 32px;
    border-radius: 12px;
    gap: 24px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

.resources_container > .features_title_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resources_container > .features_title_container > .feature {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px; 
}

/* ---- Resources Details ---- */

.resources_details_container {
    display: flex;
    gap: 16px;
}

.resources_details_board {
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-radius: 12px;
    padding: 32px;
    box-shadow: var(--Shadow-default);
    background-color: var(--Neutral);
}

.resources_details_board > .resources_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
}

.resources_details_board > .resources_details > .image_content {
    width: 100%;
    height: 100%;
}

.resources_details_board > .resources_details > .text_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.resources_details_board > .resources_details > .text_content > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resources_details_board > .resources_details > .text_content > .title > h4 {
    width: 50px;
}

/* ---- Pros and Cons Section ---- */

#pros_cons_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 120px 32px;
}

#pros_cons_section > h2 {
    text-align: center;
}

#pros_cons_section .pros_cons_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 56px;
    gap: 32px;
    background-color: var(--Footer-bg);
    border-radius: 10px;
}

#pros_cons_section .pros_cons_list {
    display: flex;
    gap: 40px;
}

/* ---- Pros and Cons ---- */

.pros_container {
    background-color: var(--Pros-bg);
    border-radius: 10px;
}

.pros_container, .cons_container {
    padding: 48px;
    width: 400px;
}

.cons_container, .pros_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cons_container > .title, .pros_container > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cons_container > .title h4, .cons_container li > p, .pros_container > .title h4, .pros_container li > p {
    color: var(--Neutral);
}

.cons_container ul, .pros_container ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cons_container li, .pros_container li {
    display: flex;
    gap: 8px;
}

/* ---- Footer ---- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 32px;
    background-color: var(--Footer-bg);
}

footer > .content_container {
    display: flex;
    justify-content: center;
    gap: 64px;
    border-bottom: 1px solid var(--Borders)
}

.logo_social_icons, .social_icons {
    margin-bottom: 16px;
}

footer .footer_navigation {
    display: flex;
    gap: 32px;
}

footer #footer_logo {
    width: 256px;
}

footer .logo_social_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

footer .social_icons {
    display: flex;
}

footer .social_icons > img {
    margin-inline: 8px;
}

footer .legal_section small {
    color: var(--Neutral)
}

footer .legal_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

footer .legal_section .legal_section_links > a {
    margin-inline: 8px;
}

/* ---- Footer Navigation ---- */

.navigation_list > h4 {
    color: var(--Neutral);
    margin-bottom: 16px;
}

.navigation_list li > p {
    color: var(--Neutral)
}

.navigation_list ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ---- Features Header ---- */

#features_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

/* ---- Features Header Navigation ---- */

.navigation_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation_container .nav_btns {
    display: flex;
    gap: 16px;
}

.navigation_container .profile {
    display: flex;
    gap: 4px;
}

.navigation_container .search_bar_container  {
    display: flex;
    background-image: url("./images/magnify.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    padding: 4px 12px;
    box-shadow: var(--Shadow-default);
    background-color: var(--Neutral);
    border-radius: 8px;
    font-size: var(--P-font-size);
    color: var(--P--color);
    cursor: pointer;
}

.navigation_container .search_bar_container:hover {
    box-shadow: var(--Shadow-hover);
}

.navigation_container .search_bar_container input:focus {
    outline: none;
    border: none;
}

.navigation_container .nav_btns .icon-btn {
    background-color: var(--Btn-main);
    border-radius: 50%;
    padding: 8px;
}

.navigation_container .profile > img {
    object-fit: contain;
}

/* ---- Features Header Logo Travel Selector */

.logo_travel_selector {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* ---- Features Navigation ---- */

.menu {
    display: flex;
    gap: 16px;
    width: 170px;
    max-width: 100%;
}

.menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px 8px 8px;
    border-radius: 10px;
    gap: 8px;
}

/* ---- Menu BudgetForm ---- */

.menu_budgetform > :first-child, .menu_details > :nth-child(2), .menu_itinerary > :nth-child(3), .menu_finaloffer > :nth-child(4) {
    background-color: var(--Btn-clicked);
}

.menu_budgetform > :first-child p, .menu_details > :nth-child(2) p, .menu_itinerary > :nth-child(3) p, .menu_finaloffer > :nth-child(4) p{
    color: var(--Neutral)
}

.menu_budgetform > :first-child img, .menu_details > :nth-child(2) img, .menu_itinerary > :nth-child(3) img, .menu_finaloffer > :nth-child(4) img {
  filter: brightness(0) invert(1)
}


.navigation_btns {
    display: flex;
    gap: 8px;
}

.navigation_btns > .btns {
    display: flex;
    gap: 8px;
}

.navigation_btns > .btns button {
    padding: 8px 16px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
}

.navigation_btns .budget_number_container {
    display: flex;
    gap: 8px;
}

.action_btns_container {
    display: flex;
}

.action_btns_container .action_btn {
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    padding: 8px 24px;
    border-radius: 8px;
    margin-inline: 8px;
}

#budget_navigation {
    display: flex;
    margin: 16px 24px;
    gap: 24px;
}

.navigation_wrapper {
    display: flex;
    height: fit-content;
    gap: 24px;
}

/* ---- Form Header ---- */

#form_header_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    text-align: center;
}

.form_header_content_container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.form_header_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_header_content .top_section {
    display: flex;
    gap: 8px;
}

.form_header_content .top_section .text_content {
    display: flex;
    flex: 4;
    gap: 8px;
}

.form_header_content .top_section .selector_content {
    display: flex;
    flex: 3;
    gap: 8px;    
}

.form_header_content .middle_section, 
.form_header_content .bottom_section {
    display: flex;
    gap: 8px;
}

.top_section, .middle_section, .bottom_section {
    width: 100%;
}

.notes_box * {
    width: 248px;
    max-width: 100%;
    height: 100%;
}

/* ---- Form Complete ---- */

#form_complete {
    padding-bottom: 8px;
}

/* ---- Hotel Form ---- */

#hotel_form {
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: var(--Neutral);
    max-width: 1020px;
    box-shadow: var(--Shadow-default);
}

#hotel_form .travel_date {
    width: 100%;
    flex: 3;
    display: flex;
    gap: 8px;
}

#hotel_form .travel_date .date_row {
    display: flex;
    gap: 8px;
}

#hotel_form .travel_date .date_row > :first-child {
    flex: 1;
}

#hotel_form .travel_date .date_row > :nth-child(2) {
    flex: 2;
}

#hotel_form .guide_driver_dropdown {
    width: 100%;
    flex: 2;
    display: flex;
    gap: 8px;
}

#hotel_form .city_text_box {
    flex: 4;
}

#hotel_form .hotel_text_box {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 8px;
    width: 100%; 
    flex: 6;
}

#hotel_form .dinner_text_box,
#hotel_form .lunch_text_box {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 8px;
    width: 100%;
    flex: 3; 
}

.hotel_form_complete {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 0px 24px;
}

.hotel_form_complete .bar :first-child {
    margin-left: 8px;
}

.hotel_form_complete .bar :nth-child(2) {
    margin-left: 128px;
}

.hotel_form_complete .bar :nth-child(3) {
    margin-left: 168px;
}

.hotel_form_complete .bar :nth-child(4) {
    margin-left: 80px;
}

.hotel_form_complete .bar :nth-child(5) {
    margin-left: 10px;
}

.hotel_form_complete .bar :nth-child(6) {
    margin-left: 48px;
}

.hotel_form_complete .bar :nth-child(7) {
    margin-left: 72px;
}

.hotel_form_complete .bar :nth-child(8) {
    margin-left: 72px;
}

.hotel_form_complete > :last-child, .local_guides_form_complete > :last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hotel_form_complete > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* ---- Local Guides Form ---- */

#local_guides_form {
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

#local_guides_form .type_of_service {
    display: flex;
    gap: 8px;
}

#local_guides_form .type_of_service > :first-child {
    flex: 1;
}

#local_guides_form .type_of_service > :last-child {
    flex: 4;
}

#local_guides_form .price_tier_container {
    display: flex;
    gap: 8px;
}

.local_guides_tour_guide_container_form_complete {
    display: flex;
    gap: 8px;
    margin: 8px 24px 0px 24px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :first-child {
    margin-left: 4px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(2) {
    margin-left: 36px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(3) {
    margin-left: 32px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(4) {
    margin-left: 28px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(5) {
    margin-left: 32px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(6) {
    margin-left: 30px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(7) {
    margin-left: 32px;
}

.local_guides_tour_guide_container_form_complete .local_guides_form_complete > :nth-child(2) > :nth-child(8) {
    margin-left: 28px;
}

/* ---- Tour Guide Form ---- */

#tour_guide_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}

#tour_guide_form > :first-child {
    width: 100%;
    justify-content: center;
}

#tour_guide_form .tour_guide_expenses_form > :first-child{
    justify-content: center;
}

#tour_guide_form .tour_guide_expenses_form > *:not(:first-child) {
    padding: 8px;
}

#tour_guide_form > .price_container {
    display: flex;
    gap: 8px;
    padding: 8px;
}

/* ---- Activities Form ---- */

#activities_form {
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    width: 416px;
}

#activities_form .choose_country, 
#activities_form .activity_price, 
#activities_form .optional_button_container {
    display: flex;
    flex: 1;
    height: 100%;
}

#activities_form .activity_name {
    display: flex;
    height: 100%;
    flex: 5;
}

#activities_form .optional_button_container {
    max-width: fit-content;
}

.activities_form_complete {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.activities_form_complete > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
}

.activities_form_complete > :last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* ---- Transportation Form ---- */

#transportation_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}

.transportatioin_vehicle_container {
    display: flex;
    gap: 8px;
}

.transportatioin_vehicle_container > :first-child {
    flex: 2;
}

.transportatioin_vehicle_container > :nth-child(2) {
    flex: 1;
}

#transportation_form_container > :first-child {
    width: 100%;
    justify-content: center;
}

#transportation_form_container .transportation_form {
    display: flex;
    gap: 8px;
    padding: 8px;
}

#transportation_form_container .transportation_expenses_form > *:not(:first-child) {
    padding: 8px;
}

#transportation_form_container .transportation_expenses_form > :first-child {
    justify-content: center;
}

.transportation_form_complete {
    flex: 2;
}

.activities_transportation_form_complete {
    display: flex;
    gap: 8px;
    margin: 8px 24px 0px 24px;
}

/* ---- Extras ---- */

#extras_form {
    display: flex;
    flex-direction: column;
}

.extras_form_complete {
    display: flex;
    flex: 2;
    flex-direction: column;
    height: fit-content;
    background-color: var(--Neutral);
    border-radius: 8px;       
}

#extras_form .headsets_container > :first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#extras_form .headsets_container > :nth-child(2),
#extras_form .bellman_container > :nth-child(2),
#extras_form .gratuities_container > :nth-child(2) {
    padding: 8px;
}

#extras_form .bar {
    justify-content: center;
}

/* ---- Flight/Train Form ---- */

#flight_train_form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 8px;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    max-width: 1020px;
}

#flight_train_form .flight_tain_type_company, 
#flight_train_form .flight_tain_route, 
#flight_train_form .flight_tain_price_container, 
#flight_train_form .selector_optionalbtn_container {
    display: flex;
    gap: 8px;
    width: 100%;
}

#flight_train_form .flight_tain_type_company {
    grid-column: span 4;
}

#flight_train_form .flight_tain_type_company > :first-child {
    flex: 1;
}

#flight_train_form .flight_tain_type_company .flight_train_selector select {
    width: 100%;
}

#flight_train_form .flight_tain_type_company > :last-child {
    flex: 3;
}

#flight_train_form .flight_tain_route {
    grid-column: span 5;
}

#flight_train_form .flight_tain_price_container {
    grid-column: span 2;
}

#flight_train_form .selector_optionalbtn_container {
    grid-column: span 1;
    width: 100%;
}

#flight_train_form .selector_optionalbtn_container > :first-child {
    flex: 2;
}

#flight_train_form .selector_optionalbtn_container > :last-child {
    flex: 1;
}

.flight_train_form_complete > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.flight_train_form_complete > :last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.flight_train_form_complete {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    margin: 8px 24px 0px 24px;
}

.flight_train_form_complete > :first-child {
    justify-content: center;
}

.flight_train_form_complete > :nth-child(2) > :first-child {
    margin-left: 4px;
}

.flight_train_form_complete > :nth-child(2) > :nth-child(2) {
    margin-left: 96px;
}

.flight_train_form_complete > :nth-child(2) > :nth-child(3) {
    margin-left: 256px;
}

.flight_train_form_complete > :nth-child(2) > :nth-child(4) {
    margin-left: 224px;
}

.flight_train_form_complete > :nth-child(2) > :nth-child(5) {
    margin-left: 56px;
}

.flight_train_form_complete > :nth-child(2) > :nth-child(6) {
    margin-left: 32px;
}

/* ---- Price Tiers From Small Screen ---- */

.price_tiers_form_complete {
    display: flex;
    gap: 8px;
    margin: 8px 24px 24px 24px;
    padding: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;;
}

.price_tiers_form_complete .pax_plus_free_content,
.price_tiers_form_complete .type_of_free_content,
.price_tiers_form_complete .total_net_content,
.price_tiers_form_complete .margin_content,
.price_tiers_form_complete .price_per_pax_content ,
.price_tiers_form_complete .type_of_free_content,
.price_tiers_form_complete .total_net_content,
.price_tiers_form_complete .comission_content,
.price_tiers_form_complete .price_per_pax_content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.price_tiers_form_complete .single_supplement_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price_tiers_form_complete .type_of_free_content > :first-child, 
.price_tiers_form_complete .type_of_free_content > :nth-child(2), 
.price_tiers_form_complete .type_of_free_content > :nth-child(3), 
.price_tiers_form_complete .type_of_free_content > :nth-child(4), 
.price_tiers_form_complete .type_of_free_content > :nth-child(5), 
.price_tiers_form_complete .type_of_free_content > :nth-child(6), 
.price_tiers_form_complete .type_of_free_content > :nth-child(7) { 
    height: 32px;
    display: flex;
    align-items: center;
}

.price_tiers_form_complete .bar {
    border-radius: 8px;
    justify-content: center;
}

.price_tiers_form_complete .pax_plus_free_container,
.price_tiers_form_complete .type_of_free_container,
.price_tiers_form_complete .client_comission_container,
.price_tiers_form_complete .price_per_pax_container, 
.price_tiers_form_complete .single_supplement_container {
    flex: 2;
}

.price_tiers_form_complete .total_net_container {
    flex: 1;
}

.price_tiers_form_complete .profit_margin_container {
    flex: 2;
}

.price_tiers_form_complete .margin_content * > :first-child,
.price_tiers_form_complete .comission_content * > :first-child {
    flex: 1;
}

.price_tiers_form_complete .margin_content * > :last-child,
.price_tiers_form_complete .comission_content * > :last-child {
    flex: 4;
}

.profit_margin_container .margin_content .margin_display_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profit_margin_container .margin_content .margin_display_container > :first-child {
    flex: 2;
}

.profit_margin_container .margin_content .margin_display_container > :nth-child(2) {
    flex: 1;
}

/* ---- Details ---- */

.price_tiers_hotel_inclusions_container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 8px;
}

/* ---- Details Complete ---- */

#details_complete {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px 24px;
    padding-bottom: 16px;
}

#details_complete .bar {
    border-radius: 8px;
    justify-content: center;
}

/* ---- Price Tiers Details ---- */

#price_tiers_details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    padding: 8px;
    border-radius: 8px;
}

#price_tiers_details .pax_and_free_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#inclusions_details_bar {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

#price_tiers_details .price_per_room_type {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ---- Hotel Inclusions ---- */

#hotel_inclusions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    height: 100%;
}

.accommodation_optional {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hotel_details_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#hotel_inclusions .hotel_extras_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hotel_details_container .hotel_details_line {
    display: flex;
    gap: 8px;
}

.hotel_details_line :first-child, 
.hotel_details_line :nth-child(2) {
    flex: 5;
}

.hotel_details_line :nth-child(3) {
    flex: 1;
}

.city_tax_meal_plan_wrapper, 
.beverages_bellman_wrapper {
    display: flex;
    gap: 8px;
}

.hotel_extras_city_tax, 
.hotel_extras_meal_plan, 
.hotel_extras_beverages, 
.hotel_extras_bellman, 
.hotel_extras_supplement {
    display: flex;
    align-items: center;
    gap: 8px;
}

.beverages_bellman_wrapper .hotel_extras_beverages,
.beverages_bellman_wrapper .hotel_extras_bellman {
    flex: 1;
}

.beverages_bellman_wrapper .hotel_extras_beverages :nth-child(3) {
    flex: 2;
}


.hotel_extras_meal_plan {
    white-space: nowrap;
    flex: 1;
}

.hotel_extras_meal_plan > :nth-child(2) {
    flex: 1;
}

.hotel_extras_meal_plan > :nth-child(3),
.hotel_extras_bellman  > :nth-child(3) {
    flex: 7;
}

.hotel_extras_supplement > :nth-child(3){
    display: flex;
    flex: 3;
}

.hotel_extras_supplement > :nth-child(2) {
    flex: 1;
}

.hotel_extras_supplement > :nth-child(4) {
    flex: 2;
}

/* ---- Services Inclusions ---- */

.service_inclusions_complete {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
}

#services_inclusions {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#services_inclusions * {
    display: flex;
    align-items: center;
    gap: 8px;
}

#services_inclusions .transportation_inclusions, 
#services_inclusions .tour_guide_inclusions, 
#services_inclusions .flights_inclusions, 
#services_inclusions .train_inclusion, 
#services_inclusions .headsets_inclusions, 
#services_inclusions .gratuities_inclusions {
    flex: 1;
}

#services_inclusions .transportation_tour_guide_line .transportation_inclusions :nth-child(2),
#services_inclusions .transportation_tour_guide_line .tour_guide_inclusions :nth-child(2),  
#services_inclusions .flights_train_line .flights_inclusions :nth-child(2),
#services_inclusions .flights_train_line .train_inclusions :nth-child(2),
#services_inclusions .local_guides_line :nth-child(2),
#services_inclusions .activities_line :nth-child(2),
#services_inclusions .headsets_gratuities_line .headsets_inclusions :nth-child(2),
#services_inclusions .headsets_gratuities_line .gratuities_inclusions :nth-child(2) {
    flex: 3;
    max-width: fit-content;
}

#services_inclusions .transportation_inclusions :nth-child(3),
#services_inclusions .tour_guide_inclusions :nth-child(3),
#services_inclusions .flights_train_line .flights_inclusions :nth-child(3),
#services_inclusions .flights_train_line .train_inclusions :nth-child(3),
#services_inclusions .local_guides_line :nth-child(3),
#services_inclusions .activities_line :nth-child(3),
#services_inclusions .headsets_gratuities_line .headsets_inclusions :nth-child(3),
#services_inclusions .headsets_gratuities_line .gratuities_inclusions :nth-child(3) {
    flex: 4;
}

#services_inclusions .local_guides_line p {
    white-space: nowrap;
}

.free_description_child_discount_line {
    display: flex;
    gap: 8px;
}

.free_description_child_discount_line .free_description,
.free_description_child_discount_line .child_discount {
    display: flex;
    gap: 8px;
    align-items: center;
}

.free_description_child_discount_line .free_description {
    white-space: nowrap;
}

.free_description_child_discount_line :nth-child(2) {
    flex: 1;
}

.free_description_child_discount_line :nth-child(3) {
    flex: 4;
}

.free_description_child_discount_line .child_discount {
    white-space: nowrap;
    flex: 1;
}

.free_description_child_discount_line .child_discount > :nth-child(2) {
    flex: 1;
}

.free_description_child_discount_line .child_discount > :nth-child(3) {
    flex: 9;
}

.notes_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    min-height: 104px;
    max-height: 100%;
}

.notes_container p {
    align-self: flex-start;
}

.notes_container > :last-child {
    flex: 1;
}

/* ---- General Terms Details ---- */

.general_terms_details_complete {
    border-radius: 8px;
    padding: 8px;
    height: fit-content;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

#general_terms_details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#general_terms_details .cancelation_policy_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#general_terms_details .cancelation_policy_selector {
    display: flex;
    align-items: center;
    gap: 8px;
}

#general_terms_details .cancelation_text_container {
    display: flex;
    gap: 8px;
}

#general_terms_details .cancelation_text_container > :first-child, 
#general_terms_details .cancelation_text_container > :nth-child(2) {
    height: 216px;
    max-height: 100%;
}

#general_terms_details .payment_terms_container, 
#general_terms_details .bank_details_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#general_terms_details .payment_terms_container > :last-child, 
#general_terms_details .bank_details_container > :last-child {
    height: 88px;
    max-height: 100%;
}

#general_terms_details .payment_terms_container .payment_terms_selector, 
#general_terms_details .bank_details_container .bank_details_selector {
    display: flex;
    align-items: center;
    gap: 8px
}




/* ---- Itinerary ---- */

#itinerary_complete {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline: 24px;
    padding-bottom: 16px;
}

#itinerary_complete > :last-child {
    border-radius: 8px;
}

#itinerary_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
}

#itinerary_container .itinerary_content_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#itinerary_container .itinerary_title > :first-child {
    text-align: center;
    padding: 8px;
    color: var(--Neutral);
    background-color: var(--Btn-clicked);
    box-shadow: var(--Shadow-default);
    border-radius: 6px;
    height: 32px;
    max-width: fit-content;
}

#itinerary_container .itinerary_title {
    display: flex;
    gap: 8px;
}

#itinerary_container .itinerary_text_area {
    height: 208px;
}

#itinerary_container .itinerary_text_area * {
    height: 100%;
}

/* ---- Final Offer ---- */

#final_offer_complete {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--Neutral);
    border-radius: 8px;
    max-width: 1020px;
    margin-inline: 24px;
    padding-bottom: 8px;
    
}

.final_offer_page {
    display: flex;
    padding: 56px 32px;
    background-image: url("../src/images/final-offer-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 568px;
    flex-direction: column;
    justify-content: space-between;
}

.final_offer_page .client_info_container {
    display: flex;
    justify-content: space-between;
    padding: 0px 104px;
}

.final_offer_page .client_info_container .group_info,
.final_offer_page .client_info_container .dates_info, 
.final_offer_page .client_info_container .client_name {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.final_offer_page .dates_info .dates_data {
    display: flex;
    gap: 8px;
}

/* ---- Final Offer Pricing Details ---- */

#final_offer_pricing_details {
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
}

#final_offer_pricing_details .final_offer_price_tiers > :first-child{
    border-radius: 8px;
    justify-content: center;
}

#final_offer_pricing_details .final_offer_price_tiers .final_offer_price_per_pax_container {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

#final_offer_pricing_details .final_offer_price_tiers .final_offer_price_per_pax_container .price_per_pax > :first-child {
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* ---- Final Offer Inclusions ---- */

#final_offer_inclusions_container {
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
}

#final_offer_inclusions_container .final_offer_inclusions_bar > :first-child {
    justify-content: center;
    border-radius: 8px;
}

#final_offer_inclusions_container .final_offer_inclusions_content,
#final_offer_exclusions_container .final_offer_exclusions_content {
    margin-top: 8px;
    padding: 8px;
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
}

#final_offer_inclusions_container .final_offer_inclusions_content .city_hotel_inclusions_container {
    display: flex;
    gap: 8px;
}

/* ---- Final Offer Exclusions ---- */

#final_offer_exclusions_container {
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
}

#final_offer_exclusions_container .final_offer_exclusions_bar > :first-child {
    justify-content: center;
    border-radius: 8px;
}

#final_offer_exclusions_container .final_offer_exclusions_content {
    margin-top: 8px;
}

/* ---- Final Offer Optional ---- */

#final_offer_optional_container {
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
}

#final_offer_optional_container .final_offer_optional_bar > :first-child {
    justify-content: center;
    border-radius: 8px;
}

#final_offer_optional_container .final_offer_optional_content {
    margin-top: 8px;
}

/* ---- Final Offer General Terms ---- */

#final_offer_general_terms_container {
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
    gap: 8px;
}

#final_offer_general_terms_container .final_offer_general_terms_bar > :first-child {
    justify-content: center;
    border-radius: 8px;
}

#final_offer_general_terms_container .final_offer_general_terms_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#final_offer_general_terms_container .final_offer_general_terms_content .cancelation_terms_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

#final_offer_general_terms_container .final_offer_general_terms_content .cancelation_terms_container .total_cancelation > :first-child,
#final_offer_general_terms_container .final_offer_general_terms_content .cancelation_terms_container .partial_cancelation > :first-child {
    border-radius: 8px;
    margin-bottom: 8px;
    justify-content: center;
}

#final_offer_general_terms_container .final_offer_payment_terms_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

#final_offer_general_terms_container .final_offer_payment_terms_container .bank_details {
    display: flex;
    flex-direction: column;
}

#final_offer_general_terms_container .final_offer_payment_terms_container .bank_details .text_container{
    flex: 1;
}

#final_offer_general_terms_container .final_offer_payment_terms_container .payment_terms > :first-child,
#final_offer_general_terms_container .final_offer_payment_terms_container .bank_details > :first-child {
    border-radius: 8px;
    justify-content: center;
    margin-bottom: 8px;
}

.text_container {
    padding: 8px;
    color: var(--P--color);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
}

/* ---- Final Offer Itinerary ---- */

.final_offer_itinerary_container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-inline: 32px;
}

#final_offer_complete .final_offer_itinerary_container > :first-child {
    border-radius: 8px;
    justify-content: center;
}

#final_offer_complete .final_offer_itinerary_container .final_offer_itinerary_pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.final_offer_itinerary_container .itinerary_content_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.itinerary_content_container .itinerary_title {
    display: flex;
    gap: 8px;
}

.itinerary_content_container .itinerary_title > :first-child{
    flex: 1;
    color: var(--Neutral);
    background-color: var(--Btn-clicked);
    box-shadow: var(--Inner-Shadow-bar);

}

.itinerary_content_container .itinerary_title > :nth-child(2){
    flex: 5;
}

.itinerary_content_container .final_offer_itinerary_text_area {
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
    padding: 8px;
}


