@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
/* ---- Colors ---- */
--Neutral: #ffffffff;
--Btn-main: #5BA3CC;
--Btn-hover: #4B93BD;
--Btn-clicked: #3A7EA6;
--Color-Contrast: #FF5C7C;
--Primary-bg: #E2E8F0;
--Secondary-bg: #F8FAFC;
--Borders: #EFF3F7;
--Footer-bg: #17567A;
--Pros-bg: #104462;
/* ---- Shadows ---- */
--Shadow-default: 0px 1px 4px #00000026;
--Shadow-header: 0px 4px 21px -1px #1E293B26;
/* ---- H1 ---- */
--H1-font-size: 80px;
--H1-color: #1E293B;
--H1-line-height: 87%;
--H1-letter-spacing: -5px;
--H1-weight: 700;
--H1-font-style: italic;
/* ---- H2 ---- */
--H2-font-size: 48px;
--H2-color: #1E293B;
--H2-line-height: 87%;
--H2-letter-spacing: -3px;
--H2-weight: 700;
--H2-font-style: italic;
/* ---- H3 ---- */
--H3-font-size: 24px;
--H3-color: #1E293B;
--H3-weight: 600;
/* ---- H4 ---- */
--H4-font-size: 16px;
--H4-color: #1E293B;
--H4-weight: 600;
/* ---- Subtitle ---- */
--Subtitle-font-size: 20px;
--Subtitle-color: #475569;
--Subtitle-weight: 400;
/* ---- Body text ---- */
--P--color: #475569;
--P-font-size: 14px;
--P-weight: 400;
}

body {
    width: 1024px;
    background-color: var(--Primary-bg);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ---- Typography ---- */

h1 {
    font-size: var(--H1-font-size);
    font-weight: var(--H1-weight);
    font-style: var(--H1-font-style);
    line-height: var(--H1-line-height);
    letter-spacing: var(--H1-letter-spacing);
    color: var(--H1-color);
}

h2 {
    font-size: var(--H2-font-size);
    font-weight: var(--H2-weight);
    font-style: var(--H2-font-style);
    line-height: var(--H2-line-height);
    letter-spacing: var(--H2-letter-spacing);
    color: var(--H2-color);
}

h3 {
    font-size: var(--H3-font-size);
    font-weight: var(--H3-weight);
    color: var(--H3-color);
}

h4 {
    font-size: var(--H4-font-size);
    font-weight: var(--H4-weight);
    color: var(--H4-color);
}

.subtitle {
    font-size: var(--Subtitle-font-size);
    font-weight: var(--Subtitle-weight);
    color: var(--Subtitle-color);
}

p, a, select {
    color: var(--P--color);
    font-size: var(--P-font-size);
    font-weight: var(--P-weight);
}

/* ---- Cta Btns ---- */

.btns_cta_container {
    display: flex;
    gap: 16px;
}

.btn_cta {
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: var(--Shadow-default);
}

.btns_cta_container #get_started {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--Btn-main);
    color: var(--Neutral)
}

.btns_cta_container #get_started > p {
    color: var(--Neutral)
}

.btns_cta_container #get_a_demo {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--Neutral);
    color: var(--Btn-main)
}

/* ---- Learn More Btns ---- */

.btn_learn_more {
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--Btn-main);
    box-shadow: var(--Shadow-default);
}

.btn_learn_more > p {
    color: var(--Neutral)
}

/* ---- Elements ---- */

a {
    text-decoration: none;
}

.icon {
    width: 48px;
}

.list_icon {
    width: 24px;
}

li {
    list-style: none;
}

/* ---- Header ---- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: var(--Secondary-bg);
    box-shadow: var(--Shadow-header);
    
}

header #header_logo {
    width: 328px;
    height: 96px;
}

header .header_navbar_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header .navbar_tools {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

header .login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

header .language_dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .navbar_links_cta_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .navbar_links a {
    margin-inline: 8px;
}

.flag-pt, .flag-es, .flag-fr {
    display: none;
}

/* ---- HeroSection ---- */

#hero_section {
    display: flex;
    margin: 80px 32px;
}

#hero_section > img {
    width: 416px;
}

#hero_section .title > h1 {
    margin-bottom: 24px;
}

#hero_section .cta_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ---- Presentation Section ---- */

#presentation_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 120px 32px;
}

#presentation_section > img {
    max-width: 100%
}

#presentation_section > .cta_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
}

#presentation_section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation_section h2 {
    margin-bottom: 24px;
}

#presentation_section .subtitle {
    width: 700px;
}

/* ---- Solution Section ---- */

#solution_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 120px 32px;
}

#solution_section > .cta_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
}

#solution_section > .cta_container > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#solution_section h2 {
    margin-bottom: 24px;
}

#solution_section .subtitle {
    width: 900px;
}

/* ---- Solution Problem Cards ---- */

.solution_problem_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

/* ---- Solution Cards ---- */

.solution_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 8px;
    justify-content: center;
}

.solution_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
    border-radius: 8px;
    padding: 24px;
    height: 200px;
}

.solution_card > img {
    width: 62px;
}

/* ---- Problem Cards ---- */

.problem_cards_container {
    gap: 8px;
}

.problem_cards_container > .problem_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--Neutral);
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    box-shadow: var(--Shadow-default);
}

.problem_cards_container > .problem_card > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.problem_cards_container ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.problem_cards_container ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.problem_cards_container > .problem_card > :last-child {
    justify-content: center;
}

#automate_problem_card, #deliver_problem_card, #scale_problem_card {
    display: none;
}

/* ---- Feature Section ---- */

#features_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 120px 32px;
}

#features_section > .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

/* ---- Resources Bar ----*/

.resources_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 32px;
    border-radius: 12px;
    gap: 24px;
    background-color: var(--Neutral);
    box-shadow: var(--Shadow-default);
}

.resources_container > .features_title_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resources_container > .features_title_container > .feature {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px; 
}

/* ---- Resources Details ---- */

.resources_details_container {
    display: flex;
    gap: 16px;
}

.resources_details_board {
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-radius: 12px;
    padding: 32px;
    box-shadow: var(--Shadow-default);
    background-color: var(--Neutral);
}

#budget_automation_details .image_content > img {
    width: 310px;
}

#data_management_details .image_content > img {
    margin-left: -10px;
    width: 300px;
}

#itinerary_builder_details .image_content > img {
    margin-right: -20px;
    width: 350px;
}

#tailored_proposal_details .image_content > img {
    margin-left: -10px;
    width: 320px;
}

.resources_details_board > .resources_details {
    display: flex;
    gap: 16px;
}

.resources_details_board > .resources_details > .text_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.resources_details_board > .resources_details > .text_content > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resources_details_board > .resources_details > .text_content > .title > h4 {
    width: 50px;
}

/* ---- Pros and Cons Section ---- */

#pros_cons_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 120px 32px;
}

#pros_cons_section > h2 {
    text-align: center;
}

#pros_cons_section .pros_cons_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 56px;
    gap: 32px;
    background-color: var(--Footer-bg);
    border-radius: 10px;
}

#pros_cons_section .pros_cons_list {
    display: flex;
    gap: 40px;
}

/* ---- Pros and Cons ---- */

.pros_container {
    background-color: var(--Pros-bg);
    border-radius: 10px;
}

.pros_container, .cons_container {
    padding: 48px;
    width: 400px;
}

.cons_container, .pros_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cons_container > .title, .pros_container > .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cons_container > .title h4, .cons_container li > p, .pros_container > .title h4, .pros_container li > p {
    color: var(--Neutral);
}

.cons_container ul, .pros_container ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cons_container li, .pros_container li {
    display: flex;
    gap: 8px;
}

/* ---- Footer ---- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 32px;
    background-color: var(--Footer-bg);
}

footer > .content_container {
    display: flex;
    justify-content: center;
    gap: 64px;
    border-bottom: 1px solid var(--Borders)
}

.logo_social_icons, .social_icons {
    margin-bottom: 16px;
}

footer .footer_navigation {
    display: flex;
    gap: 32px;
}

footer #footer_logo {
    width: 256px;
}

footer .logo_social_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

footer .social_icons > img {
    margin-inline: 8px;
}

footer .legal_section small {
    color: var(--Neutral)
}

footer .legal_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

footer .legal_section .legal_section_links > a {
    margin-inline: 8px;
}

/* ---- Footer Navigation ---- */

.navigation_list > h4 {
    color: var(--Neutral);
    margin-bottom: 16px;
}

.navigation_list li > p {
    color: var(--Neutral)
}

.navigation_list ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}